
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');

:root {
  --r-background-color: #022859;
    --r-main-color: #ffffff;
    --r-heading-color: #F66B0E;
    --r-link-color: #F66B0E;
}

.* =========================
   PADRÃO PREMIUM DE SLIDES
========================= */

.reveal {
  font-family: "Inter", "Helvetica Neue", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #ffffff;
}

/* Título principal */
.reveal h1 {
  font-size: 2.8em;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* Subtítulos */
.reveal h2 {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 25px;
}

/* Títulos menores */
.reveal h3 {
  font-size: 1.2em;
  font-weight: 500;
  opacity: 0.9;
}

/* Texto */
.reveal p,
.reveal li {
  font-size: 1.05em;
  line-height: 1.45;
}

/* Listas */
.reveal ul {
  margin-top: 25px;
}

/* Espaçamento */
.reveal .slides section {
  padding-left: 90px;
  padding-right: 90px;
}

/* Imagens */
.full-image img {
  border-radius: 18px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.45);
}

/* Colunas */
.columns {
  align-items: center;
  gap: 50px;
}

.reveal .slides section {
  text-shadow: 0 4px 20px rgba(0,0,0,0.9);
}


/* Logo da Semana da Ciência de Dados */
.reveal .title-slide::after {
  content: "";
  
  position: absolute;
  
  bottom: 40px;
  right: 50px;

  width: 220px;
  height: 220px;

  background-image: url("images/logoscd.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.9;
  
  z-index: 10;

}


